extends layout 

block content 
    h1= title 

    ul 
        each bk in all_instances
            li 
                a(href=bk.url) #{bk.book.title} : #{bk.imprint} -
                if bk.status=='Available'
                    span(class="text-success") #{bk.status}
                else if bk.status=='Maintenance'
                    span.text-danger #{bk.status}
                else
                    span.text-warning #{bk.status}
                if bk.status!='Available'
                    span  (Due: #{bk.due_date} )
        else 
            li There are currently no copies left.